<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="clear" (click)="cancelar()">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle de gestión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item-divider>
      <ion-card-header>
        <ion-card-title>{{data.titulo}}</ion-card-title>
      </ion-card-header>
    </ion-item-divider>

    <ion-card-content>
      <ion-list>

        <ion-item lines="none">
          <ion-label position="floating">Contenido</ion-label>
          <ion-input value="{{data.contenido}}" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Cargo</ion-label>
          <ion-input value="{{data.cargo}}" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Correo</ion-label>
          <ion-input value="{{data.correo}}" readonly></ion-input>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
