<!-- Ion Tabs -->

<ion-app>
  <ion-tabs>

    <ion-tab-bar class="tab-bar" slot="bottom" selected-tab="inicio">
      <ion-tab-button class="inicio-tab" tab="inicio">
        <ion-icon name="grid"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button class="mis-tareas-tab" tab="mis-tareas">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Mis tareas</ion-label>
      </ion-tab-button>

      <ion-tab-button class="notificaciones-tab" tab="notificaciones">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Notificaciones</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button class="perfil-tab" tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-app>